* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
    margin: 20px;
}

label {
    padding-block: 10px;
    display: flex;
    flex-direction: column;
}

i {
    font-size: 20px;
}

input {
    margin-block: 10px;
    border: none;

}

.submit {
    margin: 20px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgrey;
}

.submit:hover {
    background-color: grey;
}
